.local/*
.rstudio/*
.config/*
.bash_history*
.ssh/*

derived_data/*.csv
figures/*
.DS_Store

Rplots.pdf
exploratory_data.R

.Rhistory
.Renviron
some-file

# Initial draft of report made in typora.
report*

RMD-report.html

.cache/*
.ipynb_checkpoints*
homeworks/.ipynb_checkpoints*

# Rshiny
shinyproject/test.R
defunct.shinyproject.R
